{% extends "records/base.html" %}
{% block content %}
<div class="color-section juggler">
    <h1>Account settings</h1>
    <div class="newentry-container">
        <div class="w-form">
            <form method="post">
                {% csrf_token %}
                {% load widget_tweaks %}
                <div class="w-row">
                    <div class="column left w-col w-col-6 w-col-small-6">
                        <label class="form-label" 
                            for="{{user_simple_form.first_name.id_for_label}}">
                            {{ user_simple_form.first_name.label }}
                        </label>
                        {{ user_simple_form.first_name|add_class:"form-text-field w-input" }}
                    </div>
                    <div class="column right w-col w-col-6 w-col-small-6">
                        <label class="form-label"
                            for="{{user_simple_form.last_name.id_for_label}}">
                            {{ user_simple_form.last_name.label }}
                        </label>
                        {% render_field user_simple_form.last_name class="form-text-field w-input" placeholder=user_simple_form.last_name.value %}
                    </div>
                </div>
                        <label class="form-label"
                            for="{{user_profile_form.info_url.id_for_label}}">
                            {{ user_profile_form.info_url.label }}
                        </label>
                        {% render_field user_profile_form.info_url class="form-text-field w-input" placeholder=user_profile_form.info_url.value %}
                <input class="big-button w-button" data-wait="Please wait..." type="submit" value="Update">

            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
