<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'records/styles.css' %}" />
    <title>Juggling Records</title>
</head>
<body>
<!-- header -->
<div class="header-section">
        <a  class="header-link left-align"  href="/records/">Juggling Records</a>
        {% if user.is_authenticated %}
            <a  class="header-link right-align" 
                href="/records/profilePage/{{user.username}}">{{user.username}}</a>
            <a  class="header-link right-align" href="/records/logout">logout</a>
        {% else %}
            <a class="header-link right-align" href="/records/register">Register</a>
            <a class="header-link right-align" href="/records/login">Login</a>
        {% endif %}
</div>
<!-- main content -->

 {% block content %}{% endblock %}

<!-- footer -->
<div>
    <div>
    {% lorem 1 p %}
    </div>
    <div>
    {% lorem 8 w %}
    </div>
    <div>
    {% lorem 10 w %}
    </div>
</div>
</body>
</html>
