{% extends "records/base.html" %}
{% block content %}
<div class="color-section">
    <h1>World Records</h1>
    <div class="filter-line">
        <div class="filter-text">Props:</div>
        {% spaceless %}
        <a class="button stick w-button" href="/records/index-all">all</a>
        {% for choice in props %}
        <a class="button stick w-button" href="/records/index-{{choice.0}}">{{choice.1}}</a>
        {% endfor %}
        {% endspaceless %}
    </div>
    <div class="filter-line">
        <div class="filter-text">Type:</div>
        <a class="button stick w-button" href="/records/index-all">all</a><a class="button stick w-button" href="#">plain endurance</a><a class="button stick w-button" href="#">trick endurance</a>
    </div>
    <div class="database-line title">
        <div class="entry">
            <div class="relative-pt w-clearfix">
                <div class="entry-cell home-record">
                    <div>record</div>
                </div>
                <div class="entry-cell home-value">
                    <div>value</div>
                </div>
                <div class="entry-cell home-by">
                    <div>by</div>
                </div>
                <div class="entry-cell home-on">
                    <div>on</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="database-section">
    {% for record in records %}
    <div class="database-line yellow">
        <div class="entry">
            <div class="relative-pt w-clearfix">
                <div class="entry-cell home-record">
                    <a href="/records/recordCategoryPage/{{record.category.prop}}-{{record.category.prop_count}}-{{record.category.pattern}}">
                    {{ record.category }}
                    </a>
                </div>
                <div class="entry-cell home-value">
                    <a href="{{record.url_to_proof}}">
                    {{ record.endurance_time }} </a>
                </div>
                <div class="entry-cell home-by">
                    <a href="/records/profilePage/{{record.user.username}}">
                    {{ record.user.first_name }}
                    {{ record.user.last_name }} </a>
                </div>
                <div class="entry-cell home-on">
                    {{ record.record_happened|date:"d/m/Y" }} 
                </div>
            </div>
        </div>
        <div class="entry-mob">
            <div>
                <a href="/records/recordCategoryPage/{{record.category.prop}}-{{record.category.prop_count}}-{{record.category.pattern}}">
                {{ record.category }} </a>
            </div>
            <div class="value-mob">
                <a href="/records/recordCategoryPage/{{record.category.prop}}-{{record.category.prop_count}}-{{record.category.pattern}}">
                {{ record.category }} </a>
            </div>
            <div>
                by 
                <a href="/records/profilePage/{{record.user.username}}">
                {{ record.user.first_name }}
                {{ record.user.last_name }} </a>
                on
                {{ record.record_happened|date:"d/m/Y"  }} 
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
