{% extends "records/base.html" %}
{% block content %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '347520742300159',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="color-section">
    <h1>World Records</h1>

    <div class="form-wrapper w-form">
        <form class="radio-button-form" action="/records/" method="post">
            {% csrf_token %}
            {% load widget_tweaks %} 
            {% for subform in form %}
                <div class="filter-line stick">
                <div class="filter-text">{{subform.label}}:</div>
                {% for radio in subform %}
                <div class="radio-button w-clearfix w-radio">
                        {%render_field radio.tag %} {% comment %} classes are set in forms.py {% endcomment %}
                        <label class="record-filter-form-label w-form-label" for="radio">{{radio.choice_label}}</label>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </form>
    </div>



    <script type='text/javascript'>
$( document ).ready( function(){ 
    $('.share-button').on("click", function() {
//TODO replace with dynamic code
        var hrefValue = 'http://localhost:8000/' + '{% url "showRecord" %}' + $(this).data("record-id");
      FB.ui({
        method: 'share',
        display: 'popup',
        href: hrefValue,
      }, function(response){
      console.log(response);
      });
    });

    var selectedProp = $("input[value='{{selected_prop}}']");
    var selectedType = $("input[value='{{selected_record_type}}']");
    selectedProp.closest("div").addClass("active");
    selectedType.closest("div").addClass("active");
    $('.record-filter-form-label').click(function(){
        $(this).prev().attr('checked', true);
        $(this).closest("form").submit();
    });
} );
    </script>


    <div class="database-line title">
        <div class="entry">
            <div class="relative-pt w-clearfix">
                <div class="entry-cell home-record">
                    <div>record</div>
                </div>
                <div class="entry-cell home-value">
                    <div>value</div>
                </div>
                <div class="entry-cell home-by">
                    <div>by</div>
                </div>
                <div class="entry-cell home-on">
                    <div>on</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="database-section">
    {% for record in records %}
    <div class="database-line yellow">
        <div class="entry w-clearfix">
            <div class="absolute-right-pt">
              <div class="w-dropdown" data-delay="0" style="z-index: 901;">
                <div class="entry-settings w-dropdown-toggle w--open">
                  <div>↓</div>
                </div>
                <nav class="dropdown-list entryd w-dropdown-list">
                    <a class="dropdown-link w-dropdown-link" href="{{record.url_to_proof}}">show video</a>
                    <a class="share-button dropdown-link w-dropdown-link" data-record-id="{{record.id}}" href="#">share on Facebook</a>
                  <a class="dropdown-link w-dropdown-link" href="#">incorrect entry</a>
                </nav>
              </div>
            </div>
            <div class="relative-pt w-clearfix">
                <div class="entry-cell home-record">
                    <a href="/records/recordCategoryPage/{{record.category.prop}}-{{record.category.prop_count}}-{{record.category.pattern}}">
                        {{ record.category }}
                    </a>
                </div>
                <div class="entry-cell home-value">
                    <a href="{{record.url_to_proof}}">
                        {{ record.endurance_time }} </a>
                </div>
                <div class="entry-cell home-by">
                    <a href="/records/profilePage/{{record.user.username}}">
                        {{ record.user.first_name }}
                        {{ record.user.last_name }} </a>
                </div>
                <div class="entry-cell home-on">
                    {{ record.record_happened|date:"d/m/Y" }} 
                    {{ record.record_happened }} 
                </div>
            </div>
        </div>
        <div class="entry-mob">
            <div>
                <a href="/records/recordCategoryPage/{{record.category.prop}}-{{record.category.prop_count}}-{{record.category.pattern}}">
                    {{ record.category }} </a>
            </div>
            <div class="value-mob">
                <a href="/records/recordCategoryPage/{{record.category.prop}}-{{record.category.prop_count}}-{{record.category.pattern}}">
                    {{ record.category }} </a>
            </div>
            <div>
                by 
                <a href="/records/profilePage/{{record.user.username}}">
                    {{ record.user.first_name }}
                    {{ record.user.last_name }} </a>
                on
                {{ record.record_happened|date:"d/m/Y"  }} 
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
