{% extends "records/base.html" %}
{% block content %}
<div class="color-section discipline">
    <h1>
        {{ category.prop_count }} 
        {{ category.prop }} 
        {{ category.pattern }} 
        endurance
    </h1>
    <div class="filter-line">
        <div class="filter-text">Filter:</div>
        <a class="button w-button" href="#">beaten entries</a>
        <a class="button w-button" href="/records/newRecord5b-plain.html">claims</a>
        <a class="button w-button" href="#">only personal</a>
    </div>
    <div class="database-line title">
        <div class="entry">
            <div class="relative-pt w-clearfix">
                <div class="discipline-juggler entry-cell">
                    <div>juggler</div>
                </div>
                <div class="discipline-time entry-cell">
                    <div>time</div>
                </div>
                <div class="discipline-catches entry-cell">
                    <div>catches</div>
                </div>
                <div class="discipline-on entry-cell">
                    <div>on</div>
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="database-section">
    {% for record in records %}
    <div class="database-line green">
        <div class="entry w-clearfix">
            <div class="absolute-left-pt">
                {% if forloop.first %}
                <div>WR</div>
                {% else %}
                <div>{{ forloop.counter }}</div>
                {% endif %}
            </div>
            <div class="relative-pt w-clearfix">
                <div class="discipline-juggler entry-cell">
                    <a href="/records/profilePage/{{record.user.username}}">
                        {{ record.user.first_name }}
                        {{ record.user.last_name }} 
                    </a>
                </div>
                <div class="discipline-time entry-cell">
                    <a href="{{record.url_to_proof}}">
                        {{ record.endurance_time }}
                    </a>
                </div>
                <div class="discipline-catches entry-cell">
                    <a href="{{record.url_to_proof}}">
                        {{ record.catches }}
                    </a>
                </div>
                <div class="discipline-on entry-cell">
                    <div> {{ record.record_happened }} </div>
                </div>
            </div>
        </div>
        <div class="entry-mob">
            <div>
                {% if forloop.first %}
                WR
                {% else %}
                {{ forloop.counter }}
                {% endif %}
                {{ record.user.first_name }}
                {{ record.user.last_name }} 
            </div>
            <div class="value-mob">
                <a href="{{record.url_to_proof}}">
                    {{ record.catches }}
                </a>
            </div>
            <div>on  {{ record.record_happened }}</div>
        </div>
    </div>
    {% endfor %}
    <div class="database-line">
        <div class="entry">
            <div class="relative-pt">
                <a class="button w-button" href="/records/newRecord">add a new entry</a>
            </div>
        </div>
        <div class="entry-mob">
            <a class="button w-button" href="/records/newRecord">add a new entry</a>
        </div>
    </div>
</div>
{% endblock content %}

<!---
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}>
--!>


