<div>
 {{ category.prop }} 
 {{ category.prop_count }} 
 {{ category.pattern }} 
</div>
<div>
    <button type="button">add new entry</button>
    <button type="button">hide unofficial entries</button>
</div>
<table>
    {% for record in records %}
    <tr>
        <td>
            <a href="/records/profilePage/{{record.user.username}}">
            {{ record.user.first_name }}
            {{ record.user.last_name }}
        </a>
        </td>
        <td>
            <a href="/records/recordCategoryPage/{{record.category.prop}}-{{record.category.prop_count}}-{{record.category.pattern}}">
            {{ record.category }}
            </a>
        </td>
        <td>
            <a href="{{record.url_to_proof}}">
            {{ record.endurance_time }}
            </a>
        </td>
        <td>
            {{ record.record_happened }}
        </td>
    </tr>
    {% endfor %}
</table>

<!---
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}>
--!>


