{% extends 'records/base.html' %}


{% block content %}
<div class="color-section">
    <h1>Register...</h1>
    <div class="container">
        <div class="w-row">
            <div class="column-line w-col w-col-6">
                <h2>...with social media</h2>
                <p>It's quick and safe. We'll never share anything without letting you know.</p><a class="big-button w-button" href="#">Facebook</a>
            </div>
            <div class="column w-col w-col-6">
                <h2>...using your e-mail</h2>
                <p>We'll send you an e-mail with a link, where you'll set your password and finish the registration.</p>
                <div class="w-form">
                    <form class="narrow-form" method="post">
                        {% csrf_token %}
                        {% load widget_tweaks %}
                        <div class="w-row">
                            <div class="column left w-col w-col-6 w-col-small-6">
                                <label class="form-label" 
                                    for="{{form.first_name.id_for_label}}">
                                    {{ form.first_name.label }}
                                </label>
                                {{ form.first_name|add_class:"form-text-field w-input" }}
                            </div>
                            <div class="column right w-col w-col-6 w-col-small-6">
                                <label class="form-label"
                                    for="{{form.last_name.id_for_label}}">
                                    {{ form.last_name.label }}
                                </label>
                                {{ form.last_name|add_class:"form-text-field w-input" }}
                            </div>
                        </div>
                        <label class="form-label"
                            for="{{form.email.id_for_label}}">
                            {{ form.email.label }}
                        </label>
                        {{ form.email|add_class:"form-text-field w-input" }}
                        <label class="form-label"
                            for"{{form.password.id_for_label}}">
                            {{ form.password.label }}    
                        </label>
                        {{ form.password|add_class:"form-text-field w-input" }} 
                        <input type="checkbox" onchange="document.getElementById('{{ form.password.id_for_label }}').type = this.checked ? 'text' : 'password'"> Show password
                        {{ form.captcha|add_class:"form-text-field w-input" }}
                        <button class="big-button w-button" 
                            data-wait="Please wait..." value="Register" type="submit">Register</button>
                    </form>
                </div>
                <div class="success-message w-form-done">
                    <div>Check your e-mail to finish the registration.</div>
                </div>
                <div class="error-message w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
{% endblock %}


